In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
t1 = pd.read_excel (r'C:\Users\Karthik S V\Desktop\MCDM MINIPROJECT\mcdm1.xlsx')
print (t1)

  alternatives
0   oneplus 8T
1  samsung m51
2  xiaomi mi10
3    iphone 11

In [6]:
t1.shape

(4, 1)

In [32]:
#add columns
t1['design']='x'
t1['display']='x'
t1['software']='x'
t1['performance']='x'
t1['battery life']='x'
t1['camera']='x'

In [35]:
t1.head()

,alternatives,design,display,software,performance,battery life,camera,value for money
0,oneplus 8T,x,x,x,x,x,x,x
1,samsung m51,x,x,x,x,x,x,x
2,xiaomi mi10,x,x,x,x,x,x,x
3,iphone 11,x,x,x,x,x,x,x

In [50]:
#oneplus 8T
for i in range(0,t1.shape[0]):
    if t1['alternatives'].iloc[i]=='oneplus 8T':
        t1['design'].iloc[i]='9'
        t1['display'].iloc[i]='9'
        t1['software'].iloc[i]='10'
        t1['performance'].iloc[i]='10'
        t1['battery life'].iloc[i]='9'
        t1['camera'].iloc[i]='8'
        t1['value for money'].iloc[i]='8'

In [73]:
t1.head()

,alternatives,design,display,software,performance,battery life,camera,value for money
0,oneplus 8T,9,9,10,10,9,8,8
1,samsung m51,8,8,9,8,10,8,8
2,xiaomi mi10,9,9,8,9,9,8,8
3,iphone 11,8,8,9,10,9,9,9

In [45]:
#samsung m51
for i in range(0,t1.shape[0]):
    if t1['alternatives'].iloc[i]=='samsung m51':
        t1['design'].iloc[i]='8'
        t1['display'].iloc[i]='8'
        t1['software'].iloc[i]='9'
        t1['performance'].iloc[i]='8'
        t1['battery life'].iloc[i]='10'
        t1['camera'].iloc[i]='8'
        t1['value for money'].iloc[i]='8'

In [44]:
#xiaomi mi10
for i in range(0,t1.shape[0]):
    if t1['alternatives'].iloc[i]=='xiaomi mi10':
        t1['design'].iloc[i]='9'
        t1['display'].iloc[i]='9'
        t1['software'].iloc[i]='8'
        t1['performance'].iloc[i]='9'
        t1['battery life'].iloc[i]='9'
        t1['camera'].iloc[i]='8'
        t1['value for money'].iloc[i]='8'

In [43]:
#iphone 11
for i in range(0,t1.shape[0]):
    if t1['alternatives'].iloc[i]=='iphone 11':
        t1['design'].iloc[i]='8'
        t1['display'].iloc[i]='8'
        t1['software'].iloc[i]='9'
        t1['performance'].iloc[i]='10'
        t1['battery life'].iloc[i]='9'
        t1['camera'].iloc[i]='9'
        t1['value for money'].iloc[i]='9'

In [74]:
t1.head()

,alternatives,design,display,software,performance,battery life,camera,value for money
0,oneplus 8T,9,9,10,10,9,8,8
1,samsung m51,8,8,9,8,10,8,8
2,xiaomi mi10,9,9,8,9,9,8,8
3,iphone 11,8,8,9,10,9,9,9

In [54]:
#creating empty normalized decision matrix
t2 = pd.read_excel (r'C:\Users\Karthik S V\Desktop\MCDM MINIPROJECT\normcdm1.xlsx')
print (t2)

  alternatives  design  display  software  performance  battery life  camera  \
0   oneplus 8T     NaN      NaN       NaN          NaN           NaN     NaN
1  samsung m51     NaN      NaN       NaN          NaN           NaN     NaN
2  xiaomi mi10     NaN      NaN       NaN          NaN           NaN     NaN
3    iphone 11     NaN      NaN       NaN          NaN           NaN     NaN

   value for money
0              NaN
1              NaN
2              NaN
3              NaN

In [79]:
print(t1)

  alternatives design display software performance battery life camera  \
0   oneplus 8T      9       9       10          10            9      8
1  samsung m51      8       8        9           8           10      8
2  xiaomi mi10      9       9        8           9            9      8
3    iphone 11      8       8        9          10            9      9

  value for money
0               8
1               8
2               8
3               9

In [80]:
# find the maximum of each column 
  
print(t1.max())

alternatives       xiaomi mi10
design                       9
display                      9
software                     9
performance                  9
battery life                 9
camera                       9
value for money              9
dtype: object

In [94]:
#finding formula
maxClm1 = t1.max()['design']
print(maxClm1)
maxClm2 = t1.max()['display']
print(maxClm2)
maxClm3 = t1.max()['software']
print(maxClm3)
maxClm4 = t1.max()['performance']
print(maxClm4)
maxClm5 = t1.max()['battery life']
print(maxClm5)
maxClm6 = t1.max()['camera']
print(maxClm6)
maxClm7 = t1.max()['value for money']
print(maxClm7)

9
9
9
9
9
9
9

In [81]:
#updating normalized values
#oneplus 8T
for i in range(0,t1.shape[0]):
    if t2['alternatives'].iloc[i]=='oneplus 8T':
        t2['design'].iloc[i]= 9/9
        t2['display'].iloc[i]=9/9
        t2['software'].iloc[i]=10/10
        t2['performance'].iloc[i]=10/10
        t2['battery life'].iloc[i]=9/10
        t2['camera'].iloc[i]=8/9
        t2['value for money'].iloc[i]=8/9

In [82]:
print(t2)

  alternatives design display software performance battery life    camera  \
0   oneplus 8T      1       1        1           1          0.9  0.888889
1  samsung m51    NaN     NaN      NaN         NaN          NaN       NaN
2  xiaomi mi10    NaN     NaN      NaN         NaN          NaN       NaN
3    iphone 11    NaN     NaN      NaN         NaN          NaN       NaN

  value for money
0        0.888889
1             NaN
2             NaN
3             NaN

In [86]:
#samsung m51
for i in range(0,t1.shape[0]):
    if t2['alternatives'].iloc[i]=='samsung m51':
        t2['design'].iloc[i]= 8/9
        t2['display'].iloc[i]= 8/9
        t2['software'].iloc[i]= 9/10
        t2['performance'].iloc[i]= 8/10
        t2['battery life'].iloc[i]= 10/10
        t2['camera'].iloc[i]= 8/9
        t2['value for money'].iloc[i]= 8/9

In [87]:
print(t2)

  alternatives    design   display software performance battery life  \
0   oneplus 8T         1         1        1           1          0.9
1  samsung m51  0.888889  0.888889      0.9         0.8            1
2  xiaomi mi10       NaN       NaN      NaN         NaN          NaN
3    iphone 11       NaN       NaN      NaN         NaN          NaN

     camera value for money
0  0.888889        0.888889
1  0.888889        0.888889
2       NaN             NaN
3       NaN             NaN

In [91]:
#xiaomi mi10
for i in range(0,t1.shape[0]):
    if t2['alternatives'].iloc[i]=='xiaomi mi10':
        t2['design'].iloc[i]= 9/9
        t2['display'].iloc[i]= 9/9
        t2['software'].iloc[i]= 8/10
        t2['performance'].iloc[i]= 9/10
        t2['battery life'].iloc[i]= 9/10
        t2['camera'].iloc[i]= 8/9
        t2['value for money'].iloc[i]= 8/9

In [89]:
print(t2)

  alternatives    design   display software performance battery life  \
0   oneplus 8T         1         1        1           1          0.9
1  samsung m51  0.888889  0.888889      0.9         0.8            1
2  xiaomi mi10         1         1      0.8         0.9          0.9
3    iphone 11       NaN       NaN      NaN         NaN          NaN

     camera value for money
0  0.888889        0.888889
1  0.888889        0.888889
2  0.888889        0.888889
3       NaN             NaN

In [92]:
#iphone 11
for i in range(0,t1.shape[0]):
    if t2['alternatives'].iloc[i]=='iphone 11':
        t2['design'].iloc[i]= 8/9
        t2['display'].iloc[i]= 8/9
        t2['software'].iloc[i]= 9/10
        t2['performance'].iloc[i]= 10/10
        t2['battery life'].iloc[i]= 9/10
        t2['camera'].iloc[i]= 9/9
        t2['value for money'].iloc[i]= 9/9

In [93]:
print(t2)

  alternatives    design   display software performance battery life  \
0   oneplus 8T         1         1        1           1          0.9
1  samsung m51  0.888889  0.888889      0.9         0.8            1
2  xiaomi mi10         1         1      0.8         0.9          0.9
3    iphone 11  0.888889  0.888889      0.9           1          0.9

     camera value for money
0  0.888889        0.888889
1  0.888889        0.888889
2  0.888889        0.888889
3         1               1

In [95]:
print(t2.head)

<bound method NDFrame.head of   alternatives    design   display software performance battery life  \
0   oneplus 8T         1         1        1           1          0.9
1  samsung m51  0.888889  0.888889      0.9         0.8            1
2  xiaomi mi10         1         1      0.8         0.9          0.9
3    iphone 11  0.888889  0.888889      0.9           1          0.9

     camera value for money
0  0.888889        0.888889
1  0.888889        0.888889
2  0.888889        0.888889
3         1               1  >

In [96]:
t2.head()

,alternatives,design,display,software,performance,battery life,camera,value for money
0,oneplus 8T,1,1,1,1,0.9,0.888889,0.888889
1,samsung m51,0.888889,0.888889,0.9,0.8,1,0.888889,0.888889
2,xiaomi mi10,1,1,0.8,0.9,0.9,0.888889,0.888889
3,iphone 11,0.888889,0.888889,0.9,1,0.9,1,1